*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  background: rgb(92,92,154);
background: radial-gradient(circle, rgba(92,92,154,1) 0%, rgba(19,19,69,1) 100%);
}

.title {
  text-align: center;
  color: white;
  margin: 15px;
  font-size: 40px;
  text-shadow: 2px 4px 4px black;
}

input {
    font-size: 20px;
    padding: 5px;
}

label {
  font-size: 20px;
  color: white;
}
